- flash.each do |key, value|
  .alert{class: "alert-#{key}"}
    = value

.footer
  = link_to 'Home', root_path
  = link_to 'Tasks', tasks_path
  |
  - if current_user
    = link_to "Log out", logout_path
  - else
    =link_to "Sign Up", signup_path
    or
    =link_to "Log In", login_path
