.l-header
  %ul
    - if params[:action] == 'index'
      - if @punt_count > 0
        %li
          %a{ href: "#{punted_tasks_path}" }="view #{pluralize(@punt_count, 'punt')}"
    - elsif params[:action] == 'punted'
      %li
        %a{ href: "#{tasks_path}"} all tasks
    - else
      %li
        %a{ href: "#{tasks_path}"} all tasks
      %li
        %a{ href: "#{punted_tasks_path}" }="view #{pluralize(@punt_count, 'punt')}"
