= form_for @comment do |f|
  = f.hidden_field :task_id, value: @task.id
  .field
    = f.label :entry
    = f.text_area :entry, rows: "5"
  .field
    = f.label :tags
    = f.text_field :tags
  .actions
    = f.submit 'Save'
