= form_for @comment do |f|
  = f.hidden_field :task_id, value: @task.id
  .field
    = f.label :entry
    .comment-field= f.text_area :entry, rows: "5", autofocus: true
  .actions
    = f.submit 'Save'
