= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :user_id, value: current_user.id

  .field
    = f.text_field :item, placeholder: 'Task', autofocus: true
  .field
    = f.text_field :tags, placeholder: "add '10m' or '2h' to plan time"
  .actions.save-btn
    = f.submit 'Save'

