.summary.tasks
  .l-primary-content
    = render 'form'

  .l-sidebar
    %table
      %tr
        %th
        %th
        %th
        %th

      - @tasks.each do |task|
        %tr
          %td
            = link_to task.item, task_path(task)
            = task.comments.count if task.comments.count > 0
          %td.feature= 'feature' if task.feature == true
          %td= link_to 'Destroy', task, :method => :delete if task.comments.count < 1
          %td= task.tags

