- flash.each do |key, value|
  .alert{class: "alert-#{key}"}
    = value

.summary.task-page
  .l-primary-content
    = link_to 'Punt All Tasks', punt_all_tasks_tasks_path(due_date: Time.now), method: :post
    = render 'form'
    .tasks{ data: { update_url: sort_tasks_url, behavior: 'sortable' } }
      - @tasks.each do |task|
        - if task.due_date <= Time.now
          %section.task-wrapper{ id: dom_id(task), data: { behavior: 'sortable-item' } }
            .handle= image_tag('grip.svg')
            %h1.task-item
              %a{href: "#{task_path(task)}"}= "#{task.item}"
            %h2
              - task.tags.split(',').each do |tag|
                %a{href: "#{tags_path(tag)}", class: 'btn tag-link tag-bar'}= "#{tag.gsub(',','')}"
            .button-row
              .two-buttons
                %h3.punt-btn= render 'tasks/punt/punt', task: task
                %h3.destroy-btn= flex_destroy_path(task)
    .calculations
      .time-total
      .budget-total
