.counter
  / = "#{pluralize(@counter, "task")} destroyed!" # TODO - fix me.
  / &nbsp; &nbsp;
  = link_to "view punts (#{@punt_count})", punted_tasks_path
.summary.tasks
  .l-primary-content
    = render 'form'

  .l-sidebar
    - if @tasks.count == 0
      %h1= message
    - else
      %table{ data: { update_url: sort_tasks_url, behavior: 'sortable' } }
        %tbody
          - @tasks.each do |task|
            - if task.due_date <= Time.now
              %tr{ id: dom_id(task), data: { behavior: 'sortable-item' } }
                %td
                  %span.task-name= link_to task.item, task_path(task)
                  %span#task-tag= link_to "#{task.tags}", tags_path(task.tags)

                %td.punt= render 'layouts/shared/punt', task: task
                %td.destroy= destroy_path(task)

