.summary.task-page
  .l-primary-content
    = render 'form'
    .tasks{ data: { update_url: sort_tasks_url, behavior: 'sortable' } }
      - @tasks.each do |task|
        - if task.due_date <= Time.now
          %section.task-wrapper{ id: dom_id(task), data: { behavior: 'sortable-item' } }
            .handle= image_tag('grip.svg')
            %h1.task-item
              %a{href: "#{task_path(task)}"}= "#{task.item}"
            %h2
              - task.tags.split(',').each do |tag|
                %a{href: "#{tags_path(tag)}", class: 'btn tag-link tag-bar'}= "#{tag.gsub(',','')}"
            .button-row
              .two-buttons
                %h3.punt-btn= render 'layouts/shared/punt', task: task
                %h3.destroy-btn= flex_destroy_path(task)
    .calculations
      .time-total
      .budget-total

- @tags.each do |tag|
  - tag.each do |tag|
    - unless tag.include?('$') || tag.include?('@')
      %a{href: "#{tags_path(tag)}", class: 'btn tag-link tag-bar'}= "#{tag.gsub(',','')}"
