.summary.tasks
  .l-sidebar
    - if @tasks.count == 0
      %h1 Even your closets are clean!
    - else
      .tasks{ data: { update_url: sort_tasks_url, behavior: 'sortable' } }
        - @tasks.each do |task|
          %section.task-wrapper{ id: dom_id(task), data: { behavior: 'sortable-item' } }
            .handle= image_tag('grip.svg')
            %h1.task-item.punted
              %a{href: "#{task_path(task)}"}= "#{task.item}"
              %a{href: "#{tags_path(task.tags)}", class: 'btn'}= "#{task.tags}"
            .button-row
              .four-buttons
                %h3.punt-btn= render 'layouts/shared/punt_return', task: task
                %h3.edit-btn= link_to "edit", edit_task_path(task)
                %h3.destroy-btn= flex_destroy_path(task)
                %h3.return-time= distance_of_time_in_words_to_now(task.due_date)

