.summary
  .home-button= link_to 'tasks', tasks_path
  .home-button= link_to 'edit', edit_task_path(@task)
  %p#notice= notice

  %h1= @task.item

  = render 'comments/form'

  - @comments.each do |comment|
    %p.entry= comment.entry
    %p.tags= comment.tags
    .destroy=link_to 'destroy', comment, method: :delete
