.summary
  %h1= @task.item
  %hr
  .home-button= link_to 'all tasks', root_path
  .home-button= link_to 'edit', edit_task_path(@task)
  .home-button.destroy= link_to 'destroy', @task, method: :delete


  = render 'comments/form'

  %p#notice= notice

  - @comments.each do |comment|
    %article
      .entry= markdown(comment.entry)
      .tags= markdown(comment.tags)
      .destroy=link_to 'destroy', comment, method: :delete

