.summary
  %h1.task-item
    = @task.item
    %span= link_to "#{@task.tags}", tags_path(@task.tags)

  .button-row
    .two-buttons
      %h3.punt-btn= render 'layouts/shared/punt', task: @task
      %h3
        %a{href: "#{destroy_path(@task)}", class: 'destroy-btn'} destroy


  .button-row
    .two-buttons
      %h3.edit-btn= link_to 'edit', edit_task_path(@task)
      %h3{ type: 'button', id: 'timer', class: 'timer-btn', value: 'Start Timer'} Start timer
  %span.counter
    %span#counterHour 0
    %span :
    %span#counterMin 0
    %span :
    %span#counterSec 0


  = render 'comments/form'

  - @comments.each do |comment|
    %article
      .entry= markdown(comment.entry)
      .destroy-btn=link_to 'destroy', comment, method: :delete





