.summary
  %h1
    = @task.item
    %span= link_to "#{@task.tags}", tags_path(@task.tags)
  %hr
  .home-button= link_to 'all tasks', tasks_path
  .home-button= link_to 'edit', edit_task_path(@task)
  .punt-button= render 'layouts/shared/punt', task: @task
  .home-button{ type: 'button', id: 'timer', class: 'start', value: 'Start Timer'} Start timer
  %span.counter
    %span#counterHour 0
    %span :
    %span#counterMin 0
    %span :
    %span#counterSec 0

  .home-button.destroy= link_to 'destroy', @task, method: :delete

  = render 'comments/form'

  - @comments.each do |comment|
    %article
      .entry= markdown(comment.entry)
      .destroy=link_to 'destroy', comment, method: :delete

