.l-form
  .account-form
    .form
      %h2 Sign up
      = form_for @user do |f|
        - if @user.errors.any?
          %h2 Oops...
          - @user.errors.full_messages.each do |message|
            %p= message

        .field
          = f.text_field :email, placeholder: 'email'

        .field
          = f.password_field :password, placeholder: 'password'

        .field
          = f.password_field :password_confirmation, placeholder: 'confirm password'

        .actions
          .save-btn= f.submit 'Join now!'

    .marketing
      %h2 Already a member?
      .all-btn= link_to "Log in", login_path
