.l-form
  .session-form
    .form-content
      .signup-form
        %h2.h2 Sign up
        = form_for @user do |f|
          - if @user.errors.any?
            %h2.h2 Oops...
            - @user.errors.full_messages.each do |message|
              %p= message

          .field
            = f.text_field :email, placeholder: 'email'

          .field
            = f.password_field :password, placeholder: 'password'

          .field
            = f.password_field :password_confirmation, placeholder: 'confirm password'

          .actions
            = f.submit 'Join now!', class: 'button-save-big'

    .form-content.user-tips
      .user-tip
        %h2.h3.italic User tip
        %h3.h3 Out of time? Punt it!
        %p.p If you can't finish a task today, punt it and it will return in 3 days. (Or, whatever time you want to set.)
      .user-tip
        %h2.h2 Already a member?
        = link_to "Log in", login_path, class: 'link-button-dark'
