!!! 5
/[if lt IE 9] <html class="ie8 old-ie" lang="en">
<!--[if gte IE 9]><!-->
%html{ lang: "en", class: @body_class }
  <!--<![endif]-->

  %head
    = display_meta_tags
    %meta(charset="utf-8")
    %meta{name: "author", content: "Dave Woodall"}
    %meta{:'http-equiv' => "X-UA-Compatible", content: "chrome=1"}
    %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no, maximum-scale=1.0"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content:"black"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "application", :media => "all"
    = csrf_meta_tags



    %script{:src => "http://use.typekit.net/iyd5ccb.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}


  %body.application{ class: @body_class }
    #l-constrained
      %header
        = render 'layouts/shared/header/header'
      .l-main
        = yield

      %footer
        = render 'layouts/shared/footer/footer'
    = render 'layouts/shared/analytics'
    = debug([params]) if Rails.env.development?
